<%include ../partials/header.ejs%>
<div class="container">
  <div class="jumbotron ">
      <center><h2>SOCIALIZING 2017 -  ADMIN CONTROL PANEL</h2></center>
  </div>
  <div class="row">
    <center>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/posts">  <img id="indexThumnail" src="/images/delete.png" alt="" > <p><h4>Posts</h4></p></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/soc_2017/com/admin/deleteMatch">  <img id="indexThumnail" src="/images/Football.png" alt="" > <p><h4> Match Fixture</h4></p></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/posts">  <img id="indexThumnail" src="/images/comment.png" alt="" > <h4><p>Comments</p></h4></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/gallery">  <img id="indexThumnail" src="/images/gallery.png" alt="" > <h4><p> Gallery</p></h4></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="/teams/new">  <img id="indexThumnail" src="/images/team.png" alt="" > <h4> <p> Create a new Team</p></h4></a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <a href="/teams">  <img id="indexThumnail" src="/images/table.png" alt="" > <h4> <p> League Table</p> </h4> </a>
      </div>
    </div>
    </center>
</div>

<center style="margin-top:5%">  <%include ../partials/footer.ejs%> </center>
