
<footer>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <center>
        <b><p align="center">NUPS-G KNUST LOCAL SOCIALIZING 2017 &copy All Rights Reserved</p></b>
      </center>
    </div>
  </div>
</footer>
</body>
</html>
