<%include ./partials/header%>
<div class="container">
  <div class="jumbotron ">
      <center><h2>WELCOME TO SOCIALIZING 2017</h2></center>
  </div>
</div>

<center style="margin-top:5%">  <%include ./partials/footer%> </center>
