<%include ./partials/header%>
<div class="container">
  <div class="jumbotron ">
      <center><h2>WELCOME TO SOCIALIZING 2017</h2></center>
  </div>
  <div class="row slide">
    <center>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/posts">  <img id="indexThumnail" src="/images/posts.png" alt="" > <p><h4>Add New Posts</h4></p></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/posts">  <img id="indexThumnail" src="/images/comment.png" alt="" > <h4><p>Comments</p></h4></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/gallery">  <img id="indexThumnail" src="/images/gallery.png" alt="" > <h4><p>Gallery</p></h4></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="/match">  <img id="indexThumnail" src="/images/login.png" alt="" > <h4><p>Match Fixture</p></h4></a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <a href="match/leagueTable">  <img id="indexThumnail" src="/images/login.png" alt="" > <h4><p>League Table</p></h4> </a>
      </div>
    </div>
    </center>
</div>

<center style="margin-top:5%">

 <%include ./partials/footer%> </center>
