<h1>New likes are create here</h1>


  <p><%=post.title%></p>
  <form class="btn btn-primary btn btn-xs" action="/posts/<%=post._id%>/likes" method="post">
    <div class="form-group">
        <button class="btn btn-sm btn-primary btn-block">Like Post</button>
    </div>
  </form>
