<h1>show all likes here</h1>

<!-- <% post.forEach(function(post){%>
  <p>post.title</p>

  <form class="btn btn-primary btn btn-xs" action="/posts/<%=post._id%>/likes/new" method="post">
    <button  name="like">Like Post</button>
  </form>
<% })%> -->
